<fieldset>
      <!-- <legend>Registration</legend> -->
      <form name='regForm' novalidate>

<div class="col-sm-6">
        <input type="text" style="color:black;" name="firstName" placeholder="First Name"
          ng-model="ctrl.user.firstName"
          required
          minlength="4"
          ng-maxlength="10">
          <span
            ng-if="(regForm.firstName.$error.minlength || regForm.firstName.$error.required) && regForm.firstName.$touched">
            First name must be at least 4 characters long
          </span>
          <span ng-if="regForm.firstName.$error.maxlength && regForm.firstName.$touched">
            First Name must not be longer than 10 characters
          </span>
          <br>
</div>
<div class="col-sm-6">
          <input type="text" style="color:black;" name="lastName" placeholder="Last Name"
            ng-model="ctrl.user.lastName"
            required
            minlength="4"
            ng-maxlength="10">
            <span
              ng-if="(regForm.lastName.$error.minlength || regForm.lastName.$error.required) && regForm.lastName.$touched">
              Last name must be at least 4 characters long
            </span>
            <span ng-if="regForm.lastName.$error.maxlength && regForm.lastName.$touched">
              Last Name must not be longer than 10 characters
            </span>
            <br>
</div>
<div class="col-sm-6">
        <input type="email" style="color:black;" name="email" placeholder="Email"
          ng-model="ctrl.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>
          </div>
<div class="col-sm-6">
        <input type="text"  style="color:black;" name="phone" placeholder="Phone ####-####"
          ng-model="ctrl.user.phone"
          pattern="(\d{4})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ####-####.
          </span>

          <br>
          </div>
<div class="col-sm-6">
          <input type="text"  style="color:black;" name="favorite" placeholder="Favorite Dish"
            ng-model="ctrl.user.favorite">
            <span ng-if="ctrl.user.incompleted">
              No such menu number exists
            </span>
            <br>
            </div>
<div class="col-sm-6">
        <button
          ng-disabled="regForm.$invalid"
          value="background-color" style="background-color: black;"
          ng-click="ctrl.getFavoriteDish();">Submit
        </button>
<br>
        <span ng-if="ctrl.user.saved">
          Your information has been saved
        </span>
<br>
          <div style="margin-top: 10px;">
          </div>
      </form>
    </fieldset>
