<fieldset>
      <legend>Registration</legend>
      <form name='regForm' novalidate>

        <input type="text" name="firstName" placeholder="First Name"
          ng-model="signUpCtrl.user.firstName"
          required
          minlength="4"
          ng-maxlength="10">
          {{ signUpCtrl.user.firstName }}
          <span
            ng-if="(regForm.firstName.$error.minlength || regForm.firstName.$error.required) && regForm.firstName.$touched">
            First name must be at least 4 characters long
          </span>
          <span ng-if="regForm.firstName.$error.maxlength && regForm.firstName.$touched">
            First Name must not be longer than 10 characters
          </span>
          <br>

          <input type="text" name="lastName" placeholder="Last Name"
            ng-model="signUpCtrl.user.lastName"
            required
            minlength="4"
            ng-maxlength="10">
            {{ signUpCtrl.user.lastName }}
            <span
              ng-if="(regForm.lastName.$error.minlength || regForm.lastName.$error.required) && regForm.lastName.$touched">
              Last name must be at least 4 characters long
            </span>
            <span ng-if="regForm.lastName.$error.maxlength && regForm.lastName.$touched">
              Last Name must not be longer than 10 characters
            </span>
            <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="signUpCtrl.user.email"
          required>
          {{ signUpCtrl.user.email }}
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ####-####"
          ng-model="signUpCtrl.user.phone"
          pattern="(\d{4})-(\d{4})">
          {{ signUpCtrl.user.phone }}
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ####-####.
          </span>

          <br>

          <input type="text" name="favorite" placeholder="Favorite Dish"
            ng-model="signUpCtrl.user.favorite">
            {{ signUpCtrl.user.favorite }}
            <span ng-if="signUpCtrl.user.incompleted">
              No such menu number exists
            </span>
            <br>

        <button
          ng-disabled="regForm.$invalid"
          ng-click="signUpCtrl.getFavoriteDish(signUpCtrl.user.favorite,signUpCtrl.user.firstName,signUpCtrl.user.lastName,signUpCtrl.user.email,signUpCtrl.user.phone);">Submit
        </button>

        <span ng-if="signUpCtrl.user.saved">
          Your information has been saved
        </span>

          <div style="margin-top: 10px;">
            Form valid? {{ regForm.$valid }}
          </div>
      </form>
    </fieldset>
